body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: auto repeat(5, 70px);
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result {
    grid-column: span 4;
    height: 50px;
    background-color: #fff;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    font-size: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #ddd;
}

button.operation {
    background-color: #f8d7da;
}

button.operation:hover {
    background-color: #f5c6cb;
}

button.equals {
    background-color: #d1ecf1;
}

button.equals:hover {
    background-color: #bee5eb;
}
